@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@500&family=Lato:ital,wght@0,400;1,300&family=Playfair+Display:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}