<!-- ---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
    <p>Hello, my name is Jyotirmoy Das. I am a Web Developer based in India. </p>
</MainLayout> -->
<p>about jd</p>
