---
const pageTitle = 'About Me';
---

<body>
    <a href="/">Home</a>
	<a href="/about">About</a>
	<a href="/hobbies">Hobbies</a>
    <h1>{pageTitle}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, odio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, culpa dolore repellendus nobis excepturi quis!</p>
</body>