---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure reiciendis ipsam sint exercitationem, adipisci dicta!</p>
</MainLayout>
