---
import MainLayout from "../layouts/MainLayout.astro";

const pageTitle = 'My Hobbies';
const hobbies = [
    'Coding',
    'Reading books',
    'Playing Guitar',
    'Listening to music',
]
---
<MainLayout title="My Hobbies">
    <ul>
        {hobbies.map(hobby => <li>{hobby}</li>)}
    </ul>
</MainLayout>
