<div id="about" class="px-4 my-20">
    <h1 class="mx-4 mt-12 mb-6 text-2xl">About me</h1>
    <div class="float-right -mt-16 mx-6 bg-white rounded-full p-[2px] border-4 border-gray-600">
        <img class="w-24 h-24 rounded-full" src="https://i.ibb.co/3vfxcSm/56311366.jpg" alt="tailwind-logo">
    </div>

    <p class="mx-4">I'm a Full Stack developer located in India. I am open to any project ideas or collaboration. At present I am trying to broaden my understanding of Full-Stack Application Development languages and tools. </p>
</div>

