<h1 class="mx-4 mt-12 mb-6 text-2xl">About me</h1>
<p class="mx-4">I'm a Web developer located in India. I am very much open to any project requests or collaboration. At present I am trying to broaden my understanding of Full-Stack Application Development languages and tools. </p>