---
import JD from '/img/jd.jpeg'
---

<div id="about" class="px-6 sm:pl-28 md:px-16 my-20 md:flex md:flex-row">
    <div class="w-30 p-2 sm:w-[36%] md:w-[60%] lg:w-[72%] float-right md:flex md:justify-center md:items-center md:border-2 md:border-r-gray-700">
        <img class="w-28 h-28 sm:w-32 sm:h-32 md:w-56 md:h-56 lg:w-64 lg:h-64 lg:mx-auto rounded-full border-4 border-gray-400" src={JD} alt="tailwind-logo">        
    </div>
    <div class="sm:w-[87%] md:flex md:flex-col md:justify-evenly md:mx-6">
        <h1 class="text-3xl sm:text-4xl py-12 sm:py-0">About me</h1>
        <p class="sm:w-[72%] md:w-[75%]">Hello everyone ! I'm a Full Stack Developer located in India. I am open to any project ideas or collaboration. At present I am trying to broaden my understanding of Full-Stack Application Development languages and tools. </p>
        <div class="flex justify-center sm:justify-start items-center my-8">
            <a href="https://github.com/jdx-code" target="_blank" class="w-full max-w-[55%] sm:max-w-[42%] md:max-w-[52%] lg:max-w-[40%] p-4 text-center border-2 border-black hover:bg-[#000003] hover:text-white">
                Download Resume
            </a>
        </div>
        <h1 class="mt-12 mb-6 text-3xl md:text-4xl">Skillset</h1>
        <div class="flex flex-wrap w-full">
            <img class="w-12 h-12 m-4 sm:w-16 sm:h-16 md:w-20 md:h-20" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/js-svgrepo-com.svg"/>
            <img class="w-12 h-12 m-4 sm:w-16 sm:h-16 md:w-20 md:h-20" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/react-svgrepo-com.svg"/>
            <img class="w-12 h-12 m-4 sm:w-16 sm:h-16 md:w-20 md:h-20" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/redux-svgrepo-com.svg"/>
            <img class="w-12 h-12 m-4 sm:w-16 sm:h-16 md:w-20 md:h-20" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/nodejs-1-logo-svgrepo-com.svg"/>
            <img class="w-12 h-12 m-4 sm:w-16 sm:h-16 md:w-20 md:h-20" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/astro-svgrepo-com.svg"/>
            <img class="w-12 h-12 m-4 sm:w-16 sm:h-16 md:w-20 md:h-20" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/bootstrap-fill-svgrepo-com.svg"/>
            <img class="w-12 h-12 m-4 sm:w-16 sm:h-16 md:w-20 md:h-20" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/php-svgrepo-com(1).svg"/>
            <img class="w-12 h-12 m-4 sm:w-16 sm:h-16 md:w-20 md:h-20" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/mysql-svgrepo-com.svg"/>
            <img class="w-16 h-16 m-4 sm:w-16 sm:h-16 md:w-20 md:h-20" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/mongodb-svgrepo-com.svg"/>        
            <img class="w-16 h-16 m-4 sm:w-16 sm:h-16 md:w-24 md:h-24" src="https://raw.githubusercontent.com/jdx-code/dev-assets/b23f555316eeb974efcb18469075bbaa58e0a153/svgAssets/techs-monocolor/tailwindcss-svgrepo-com.svg"/>                        
        </div>
    </div>
</div>
