<div id="about" class="px-4 sm:px-24 my-20 sm:flex sm:flex-row">
    <div class="w-[40%] sm:w-[20%] float-right">
        <img class="sm:w-56 sm:h-56 rounded-full" src="https://i.ibb.co/3vfxcSm/56311366.jpg" alt="tailwind-logo">
    </div>
    <div class="sm:w-[70%] sm:flex sm:flex-col sm:justify-evenly sm:mx-6">
        <h1 class="text-3xl sm:text-4xl py-12 sm:py-0">About me</h1>
        <p class="">I'm a Full Stack developer located in India. I am open to any project ideas or collaboration. At present I am trying to broaden my understanding of Full-Stack Application Development languages and tools. </p>
    </div>
</div>
