---
const {topic} = Astro.props;
const {projectNumber} = Astro.props;
---

<div class="m-4 sm:col-span-2">   
    <div class="w-full h-44 border-2 border-green-800 rounded-lg bg-purple-500">
        <p>{topic}</p>
    </div>
</div>

