---
const {topic} = Astro.props;
---

<div class="m-3 sm:col-span-2">   
    <div class="w-full h-44 border-2 border-purple-300 rounded-lg">
        <!-- <p>{topic}</p> -->
        <a href={topic[1]}><img class="w-full h-full" src={topic[0]}/></a>
    </div>
</div>

