<div class="w-full px-6 sm:px-28 md:px-16 mt-20">
    <h1 class="text-3xl md:text-4xl py-4">Contact Me</h1>
    <p class="md:w-[45%] md:text-md">Fill up the form for any feedback or opportunities.</p>
    <div class="mt-4 md:-mt-20 mb-6 flex flex-col md:flex-row-reverse md:justify-between">        
        <div class="w-full md:w-[50%]">        
            <form class="w-full" action="https://getform.io/f/ca3ab37f-0222-4a63-8689-431133d3e726" method="post">       
                <input class="w-full my-1 p-3 border-2 border-purple-300" type="text" name="fullname" value="" placeholder="Your name" required/>
                <input class="w-full my-1 p-3 border-2 border-purple-300" type="email" name="email" value="" placeholder="Your email" required/>
                <textarea class="w-full my-1 p-3 border-2 border-purple-300" rows="10" cols="20" name="message" placeholder="Your message"></textarea>            
                <button class="w-full my-1 p-4 rounded-sm bg-[#201f1f] text-white border-2 border-gray-200 hover:bg-[#000] hover:text-white">SUBMIT</button>
            </form>    
        </div>
        
        <div class="md:my-24">        
            <p class="mt-6 text-center md:text-start">In case you hate forms, mail me..</p>
            <div id="contact" class="w-full flex justify-center my-6">
                <img class="w-8 h-8 mr-4" src="https://raw.githubusercontent.com/jdx-code/dev-assets/f0f4f5e3c9ae8e31ef234880265dbc336e66b5e2/svgAssets/socials/mail-svgrepo-com.svg"/>        
                <p class="text-lg md:text-xl">jyotirmoydas12@gmail.com</p>        
            </div>
            <p class="mt-6 text-center md:text-start">Connect with me on my socials..</p>
            <div class="w-full flex justify-evenly md:justify-between my-6">
                <a href="https://twitter.com/jdx_code" target="_blank">
                    <img class="w-8 h-8 hover:scale-105" src="https://raw.githubusercontent.com/jdx-code/dev-assets/091d709075ffb8beb4b9392916a96cf464ae556c/svgAssets/socials-monocolor/twitter-f-svgrepo-com.svg"/>
                </a>
                <a href="https://www.linkedin.com/in/jdx-code/" target="_blank">
                    <img class="w-8 h-8 hover:scale-105" src="https://raw.githubusercontent.com/jdx-code/dev-assets/091d709075ffb8beb4b9392916a96cf464ae556c/svgAssets/socials-monocolor/linkedin-with-circle-svgrepo-com.svg"/>
                </a>
                <a href="https://www.facebook.com/jdxcode99" target="_blank">
                    <img class="w-8 h-8 hover:scale-105" src="https://raw.githubusercontent.com/jdx-code/dev-assets/091d709075ffb8beb4b9392916a96cf464ae556c/svgAssets/socials-monocolor/facebook-fill-svgrepo-com.svg"/>
                </a>
                <a href="https://github.com/jdx-code" target="_blank">
                    <img class="w-8 h-8 hover:scale-105" src="https://raw.githubusercontent.com/jdx-code/dev-assets/091d709075ffb8beb4b9392916a96cf464ae556c/svgAssets/socials-monocolor/github-inverted-svgrepo-com.svg"/>
                </a>        
            </div>
        </div>    
    </div>
</div>

