<div class="mx-4 flex flex-col sm:flex-row">
    <div>
        <h1 class="mt-12 mb-6 text-2xl">Write to me</h1>
        <p class="">Mail : jyotirmoydas12@gmail.com</p>
    </div>    
    <form>
        <div>
            <label>Your Name</label>
            <input type="text" value=""/>
        </div>
        <div>
            <label>Your Email</label>
            <input type="text" value=""/>
        </div>
        <div>
            <label>Your Message</label>
            <textarea rows="10" cols="20"></textarea>    
        </div>        
    </form>    
</div>
