<div class="mx-4 flex flex-col sm:flex-row sm:justify-between">
    <div>
        <h1 class="mt-12 mb-6 text-2xl">Write to me</h1>
        <p class="">Mail : jyotirmoydas12@gmail.com</p>
    </div>    
    <form class="w-full" action="https://getform.io/f/ca3ab37f-0222-4a63-8689-431133d3e726" method="post">       
        <input class="w-full my-1 p-3 border-2 border-purple-300" type="text" name="fullname" value="" placeholder="Your name"/>
        <input class="w-full my-1 p-3 border-2 border-purple-300" type="email" name="email" value="" placeholder="Your email"/>
        <textarea class="w-full my-1 p-3 border-2 border-purple-300" rows="10" cols="20" name="message" placeholder="Your message"></textarea>            
        <button class="w-full my-1 p-2 bg-black text-white text-lg border-2 border-purple-300">SUBMIT</button>
    </form>    
</div>
