---
const {title} = Astro.props;
import "../styles/global.css";
import Footer from "./Footer.astro";
import Navbar from "./Navbar.astro";
import Projects from "./Projects.astro";
import AboutSection from "./AboutSection.astro";
import ContactSection from "./ContactSection.astro";
import Skillset from "./Skillset.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar></Navbar>		
		<div class="font-playfair">
			<div class="text-center mt-32">
				<p class="text-2xl">Hello I'm</p>					
				<p class="text-5xl py-3">Jyotirmoy Das</p>
				<slot />
			</div>			
		</div>
		<div class="font-manrope">
			<Projects></Projects>
			<AboutSection></AboutSection>
			<!-- <Skillset></Skillset> -->
			<ContactSection></ContactSection>
			<Footer></Footer>
		</div>		
	</body>
</html>