<nav class="w-full flex justify-around bg-[#131312] text-white py-4">
    <div class="max-w-[20%] border-2 border-gray-400">
        <img src="https://i.ibb.co/QjQyX5s/jd-2.png"/>
    </div>
    <div class="w-[70%] flex justify-evenly items-center font-gantari">
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/hobbies">HOBBIES</a>
    </div>    
</nav>