<nav class="w-full flex justify-around sm:justify-between sm:px-24 bg-[#131312] text-white py-4">
    <div class="max-w-[20%] border-2 border-gray-300 rounded-xs p-1">
        <a href="/">
            <img class="sm:w-20 sm:h-16" src="https://i.ibb.co/QjQyX5s/jd-2.png"/>
        </a>
    </div>
    <div class="w-[70%] sm:w-[40%] flex justify-evenly items-center font-gantari">        
        <a href="#about">ABOUT</a>
        <a href="https://jdblogs.hashnode.dev/" target="_blank">BLOGS</a>
        <a href="#contact">CONTACT</a>
    </div>    
</nav>