---
import Cards from "./Cards.astro";

const myProjects = [
    ['https://taiphakeassam.com/', 'https://i.ibb.co/1Zqh9X0/Screenshot-from-2023-01-01-14-17-14.png','Website of TaiPhake community'],
    ['https://zephyrsolutions.netlify.app/', 'https://i.ibb.co/D1d6qWD/Screenshot-from-2023-01-01-13-39-02.png', 'Agency website'],    
    ['https://jdx-code.github.io/tributePage/', 'https://i.ibb.co/1dtH1Mt/Screenshot-from-2023-01-01-13-48-31.png', 'Tribute page - J. Krishnamurthy'],
    ['https://jyotish108.com/', 'https://i.ibb.co/NNBLjwy/Screenshot-from-2023-01-01-14-16-53.png', 'Vedic Astrology website'],   
    ['http://kasiyoli.com/', 'https://i.ibb.co/wd454TG/Screenshot-from-2023-01-01-14-17-47.png', 'e-Magazine (Assamese language)'],   
    ['http://www.dreamsendeavour.com/', 'https://i.ibb.co/BwQTgwH/Screenshot-from-2023-01-04-18-43-58.png', 'Educational website']
]
---
<div class="px-2 sm:px-24 md:px-16">    
    <h1 class="mx-4 mt-20 mb-6 text-3xl sm:text-4xl">My Projects</h1>
    <div class="grid sm:grid-cols-6">
            {myProjects.map(myProject => <Cards topic={myProject}/>)}
    </div>
    <div class="flex justify-center items-center my-8">
        <a href="https://github.com/jdx-code" target="_blank" class="w-full max-w-[40%] sm:max-w-[35%] md:max-w-[25%] lg:max-w-[20%] p-4 text-center border-2 border-black hover:bg-[#000003] hover:text-white">
            View More
        </a>
    </div>
</div>