<div id="skills" class="px-4 sm:px-24">
    <h1 class="mx-4 mt-12 mb-6 text-3xl sm:text-4xl">Skillsets</h1>
    <div class="flex flex-wrap w-full">
        <img class="w-12 h-12 m-4" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/js-svgrepo-com.svg"/>
        <img class="w-12 h-12 m-4" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/react-svgrepo-com.svg"/>
        <img class="w-12 h-12 m-4" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/redux-svgrepo-com.svg"/>
        <img class="w-12 h-12 m-4" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/nodejs-1-logo-svgrepo-com.svg"/>
        <img class="w-12 h-12 m-4" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/astro-svgrepo-com.svg"/>
        <img class="w-12 h-12 m-4" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/bootstrap-fill-svgrepo-com.svg"/>
        <img class="w-12 h-12 m-4" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/php-svgrepo-com(1).svg"/>
        <img class="w-12 h-12 m-4" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/mysql-svgrepo-com.svg"/>
        <img class="w-16 h-16 m-4" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/mongodb-svgrepo-com.svg"/>        
        <img class="w-16 h-16 m-4" src="https://raw.githubusercontent.com/jdx-code/dev-assets/7d290acc7acde5ebd70c619e924f2dc0035780f5/svgAssets/techs-monocolor/tailwindcss-svgrepo-com.svg"/>
    </div>    
</div>